//--------------------------------------------------------------
// Footer $space
//--------------------------------------------------------------
.site-footer {

	@include padding( null);

	flex: 0 0 100%;
	width: 100%;

	.site-info {
		text-align: center;
	} // .site-info
}
