//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------
* {
  box-sizing: border-box;
}

html, body,.portifolio-profile{
    background: linear-gradient(90deg, #f85624 50%, #3d009e 50%);
    height: 100vh;
    padding: 0;
    position: relative;
    

    .portfolio{
        padding:6%;
        //text-align:center;
        .heading{
            background: #fff;
            padding: 1%;
            text-align: left;
            box-shadow: 0px 0px 4px 0px #545b62;
            img{
                width: 10%;
            }
        }
        .bio-info{
            padding: 5%;
            background:#fff;
            box-shadow: 0px 0px 4px 0px #b0b3b7;
            align-items: center;
            justify-content:center;

            .name{
                font-weight:600;
            }
            .bio-image{
                text-align:center;
                img{
                    border-radius:50%;
                    max-width: 273px;
                }
            }
            .bio-content{
                text-align:left;
            }
        }
    }
}


.card {
    margin: auto;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    display: -webkit-box;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  }
  
 
  
 
  .card-header {
    position: relative;
    display: -webkit-box;
    display: flex;
    height: 200px;
    flex-shrink: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .card-header * {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  
  .card-main {
    position: relative;
    -webkit-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: flex;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  
  .card-subtitle,
  .gform_title{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-desc {
    line-height: 1.6;
    color: #636b6f;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
  }
  
  .card-social {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .card-social svg {
    fill: #a5b5ce;
    width: 16px;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .card-social a {
    color: #8797a1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(93, 133, 193, 0.05);
    border-radius: 50%;
    margin-right: 10px;
  }
  .card-social a:hover svg {
    fill: #637faa;
  }
  .card-social a:last-child {
    margin-right: 0;
  }
  
  .card-buttons {
    display: -webkit-box;
    display: flex;
    background-color: #fff;
    margin-top: auto;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
  }
  .card-buttons button {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: 0;
    font-size: 13px;
    border: 0;
    padding: 15px 5px;
    cursor: pointer;
    color: #5c5c6d;
    -webkit-transition: 0.3s;
    transition: 0.3s;
   
    font-weight: 500;
    outline: 0;
    border-bottom: 3px solid transparent;
  }
  .card-buttons button.is-active, .card-buttons button:hover {
    color: #2b2c48;
    border-bottom: 3px solid #8a84ff;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 199, 231, 0)), color-stop(44%, rgba(207, 204, 255, 0.2)), to(rgba(211, 226, 255, 0.4)));
    background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
  }
  
  .card-section {
    display: none;
  }
  .card-section.is-active {
    display: block;
    -webkit-animation: fadeIn 0.6s both;
            animation: fadeIn 0.6s both;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translatey(40px);
              transform: translatey(40px);
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translatey(40px);
              transform: translatey(40px);
    }
    100% {
      opacity: 1;
    }
  }
  .card-timeline {
    margin-top: 30px;
    position: relative;
  }
  .card-timeline:after {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(134, 214, 243, 0)), to(#516acc));
    background: linear-gradient(to top, rgba(134, 214, 243, 0) 0%, #516acc 100%);
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
  }
  
  .card-item {
    position: relative;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
    z-index: 1;
  }
  .card-item:last-child {
    padding-bottom: 5px;
  }
  .card-item:after {
    content: attr(data-year);
    width: 10px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid #fff;
    font-size: 11px;
    text-indent: -35px;
    border-radius: 50%;
    color: rgba(134, 134, 134, 0.7);
    background: -webkit-gradient(linear, left top, left bottom, from(#a0aee3), to(#516acc));
    background: linear-gradient(to bottom, #a0aee3 0%, #516acc 100%);
  }
  
  .card-item-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .card-item-desc {
    font-size: 13px;
    color: #6f6f7b;
    line-height: 1.5;
  }
  
  .card-contact-wrapper {
    margin-top: 20px;
  }
  
  
  .gform_button  {
    border: 0;
    outline: none;
    background: -webkit-gradient(linear, left top, right top, from(rgba(83, 200, 239, 0.8)), color-stop(96%, rgba(81, 106, 204, 0.8)));
    background: linear-gradient(to right, rgba(83, 200, 239, 0.8) 0%, rgba(81, 106, 204, 0.8) 96%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 12px 16px;
    width: 100%;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }